* {
    margin: 0;
    padding: 0;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    overflow: hidden;
    background-color: rgba(239, 9, 9, 0.908);
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: blue;
}



.hero {
    background-image: url("../images/2.jpeg");
    background-size: cover;
    background-position: center;
    margin: 5px;
    height: 350px;
    width: 100%;
}
